body {
  padding-left: 20px;
  padding-right: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 1100px;
}

a {
  color: #00B7FF;
}

#state-compare-chart {
  width: 65%;
  float: left;
}

#compare-chart {
  width: 65%;
  float: left;
}

#ad-space {
  width: 35%;
  float: right;
}

.ad {
  margin-top: 30px;
  font-size: 12px;
}

.footer{
  float: left;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

ul
{
list-style-type:none;
margin:0;
padding:0;
}

li
{
display:inline;
padding-right: 20px;
}

li a
{
  text-decoration: none;
}